/* IDCLI_BEHAVIOR_IDENT */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'IDCLI_BEHAVIOR_IDENT' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO IDCLI_BEHAVIOR_IDENT_VTHIS
DROP VIEW EDW_VTHIS.IDCLI_BEHAVIOR_IDENT;
.LABEL IDCLI_BEHAVIOR_IDENT_VTHIS

REPLACE VIEW EDW_VTHIS.IDCLI_BEHAVIOR_IDENT 
(
	  BHID_NMR
	, IDNT_ID
	, PARTY_ID
	, BHID_DT
	, SRCE_ID
	, BHID_WEIGHT_VALUE
	, BHID_PROC_DT
	, PARTY_ID_ANT
)
AS
LOCK IC_VT.IDCLI_BEHAVIOR_IDENT FOR ACCESS
SELECT
	  BHID_NMR
	, IDNT_ID
	, PARTY_ID
	, BHID_DT
	, SRCE_ID
	, BHID_WEIGHT_VALUE
	, BHID_PROC_DT
	, PARTY_ID_ANT
FROM IC_VT.IDCLI_BEHAVIOR_IDENT
;


/* PARTY_CATEGORIES_LEVEL */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'PARTY_CATEGORIES_LEVEL' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO PARTY_CATEGORIES_LEVEL_VTHIS
DROP VIEW EDW_VTHIS.PARTY_CATEGORIES_LEVEL;
.LABEL PARTY_CATEGORIES_LEVEL_VTHIS

REPLACE VIEW EDW_VTHIS.PARTY_CATEGORIES_LEVEL 
(
	  Category_Type_Cd
	, Category_Level_Cd
	, Party_Categ_Level_Start_Dttm
	, Party_Id
	, Party_Categ_Level_End_Dttm

)
AS
LOCK PARTY_VT.PARTY_CATEGORIES_LEVEL FOR ACCESS
SELECT
	  Category_Type_Cd
	, Category_Level_Cd
	, Party_Categ_Level_Start_Dttm
	, Party_Id
	, Party_Categ_Level_End_Dttm
FROM PARTY_VT.PARTY_CATEGORIES_LEVEL
;


/* CATEGORY_LEVEL_TYPE */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'CATEGORY_LEVEL_TYPE' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO CATEGORY_LEVEL_TYPE_VTHIS
DROP VIEW EDW_VTHIS.CATEGORY_LEVEL_TYPE;
.LABEL CATEGORY_LEVEL_TYPE_VTHIS

REPLACE VIEW EDW_VTHIS.CATEGORY_LEVEL_TYPE
(
	  Category_Type_Cd
	, Category_Level_Cd
	, Category_Level_Desc
)
AS
LOCK TABLE PARTY_VT.CATEGORY_LEVEL_TYPE FOR ACCESS
SELECT	
	  Category_Type_Cd
	, Category_Level_Cd
	, Category_Level_Desc
FROM PARTY_VT.CATEGORY_LEVEL_TYPE
;


/* CATEGORY_TYPE */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'CATEGORY_TYPE' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO CATEGORY_TYPE_VTHIS
DROP VIEW EDW_VTHIS.CATEGORY_TYPE;
.LABEL CATEGORY_TYPE_VTHIS

REPLACE VIEW EDW_VTHIS.CATEGORY_TYPE
(
	  Category_Type_Cd
	, Category_Type_Desc
)
AS
LOCK TABLE PARTY_VT.CATEGORY_TYPE FOR ACCESS
SELECT	
	  Category_Type_Cd
	, Category_Type_Desc
FROM PARTY_VT.CATEGORY_TYPE
;




/* PARTY */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'PARTY' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO PARTY_VTHIS
DROP VIEW EDW_VTHIS.PARTY;
.LABEL PARTY_VTHIS

REPLACE VIEW EDW_VTHIS.PARTY
(
   Party_Id,
   Party_Type_Cd,
   Party_Start_Dt,
   Creation_Source_Type_Cd,
   Party_Creation_Dt,
   First_Purchase_Dt,
   Credit_Rating_Cd,
   Party_Update_Dttm
)
AS
LOCK TABLE PARTY_VT.PARTY FOR ACCESS
SELECT	
   Party_Id,
   Party_Type_Cd,
   Party_Start_Dt,
   Creation_Source_Type_Cd,
   Party_Creation_Dt,
   First_Purchase_Dt,
   Credit_Rating_Cd,
   Party_Update_Dttm             
FROM PARTY_VT.PARTY
;



/* PARTY_TYPE */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'PARTY_TYPE' AND DATABASENAME = 'EDW_VTHIS';
.IF ACTIVITYCOUNT = 0 THEN GOTO PARTY_TYPE_VTHIS
DROP VIEW EDW_VTHIS.PARTY_TYPE;
.LABEL PARTY_TYPE_VTHIS

REPLACE VIEW EDW_VTHIS.PARTY_TYPE
(
   Party_Type_Cd,
   Party_Type_Desc
)
AS
LOCK TABLE PARTY_VT.PARTY_TYPE FOR ACCESS
SELECT	
   Party_Type_Cd,
   Party_Type_Desc
FROM PARTY_VT.PARTY_TYPE
;