/* PARTY_TYPE */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'LT_PARTY_TYPE' AND DATABASENAME = 'EDW_VT';
.IF ACTIVITYCOUNT = 0 THEN GOTO PARTY_TYPE_VT
DROP VIEW EDW_VT.LT_PARTY_TYPE;
.LABEL PARTY_TYPE_VT

REPLACE VIEW EDW_VT.LT_PARTY_TYPE
(
   Party_Type_Cd,
   Party_Type_Desc
)
AS
LOCK TABLE EDW_VTODS.PARTY_TYPE FOR ACCESS
SELECT	
   Party_Type_Cd,
   Party_Type_Desc
FROM EDW_VTODS.PARTY_TYPE
;


/* ELITE_CATEGORY_LEVEL */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'LT_ELITE_CATEGORY_LEVEL' AND DATABASENAME = 'EDW_VT';
.IF ACTIVITYCOUNT = 0 THEN GOTO ELITE_CATEGORY_LEVELVT
DROP VIEW EDW_VT.LT_ELITE_CATEGORY_LEVEL;
.LABEL ELITE_CATEGORY_LEVELVT


REPLACE VIEW EDW_VT.LT_ELITE_CATEGORY_LEVEL
(
	Elite_Category_Lvl_Cd,
	Elite_Category_Lvl_Desc,
	Elite_Category_Lvl_Weight_Val
)
AS
LOCK TABLE EDW_VTODS.ELITE_CATEGORY_LEVEL FOR ACCESS
SELECT 
	Elite_Category_Lvl_Cd,
	Elite_Category_Lvl_Desc,
	Elite_Category_Lvl_Weight_Val
FROM EDW_VTODS.ELITE_CATEGORY_LEVEL
;



/* PARTY */

SELECT 1 FROM DBC.TABLESV WHERE TABLENAME = 'LT_PARTY' AND DATABASENAME = 'EDW_VT';
.IF ACTIVITYCOUNT = 0 THEN GOTO PARTYVT
DROP VIEW EDW_VT.LT_PARTY;
.LABEL PARTYVT


REPLACE VIEW EDW_VT.LT_PARTY
(
	Party_Id,
	Party_Type_Cd
)
AS
LOCK TABLE EDW_VTODS.PARTY FOR ACCESS
SELECT 
	Party_Id,
	Party_Type_Cd
FROM EDW_VTODS.PARTY
;

